.recipes-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipe-item {
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 10%;
}
